<!DOCTYPE html>
<html>
  <head>
    <title>Your Page Title</title>
    <style>
      body {
        background-image: url("https://images.unsplash.com/photo-1502154882433-a614dba12819?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
  </body>
  </html>
  